<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.traveldiary">
    <application
        android:allowBackup="true"
        android:icon="@drawable/film"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.EditDiscussActivity"></activity>
        <activity android:name=".view.WriteActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MovieCommentActivity" />
        <activity android:name=".view.CommonActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.Setting" />
        <activity android:name=".view.SearchActivity" />
        <activity android:name=".view.MovieDetailActivity" />
        <activity android:name=".view.NearbyActivity" />
        <activity android:name=".view.MessageActivity" />
        <activity android:name=".view.Welcome" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="36bb1b500c327976865976f4a8c1e5c6" />

        <service android:name="com.amap.api.location.APSService" />
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.administrator.traveldiary.BmobContentProvider">
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.traveldiary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>